

.logoHome{
    margin-left: 40px;
    height: 100px;
    width: 100px;

}

._body{


  overflow: hidden;

}

.HomeDesign{
        width: 100%;
        height: auto;
        background: linear-gradient(to right, #0b0c10, #1f2833);
        position: relative;
}

.fBar{

    height: 300px;
    background: linear-gradient(to bottom, #45a29e, #66fcf1);

}
.dBar{

  height: 150px;
  background: linear-gradient(to bottom, #45a29e, #66fcf1);

}
.Welcome{
    margin-right: 900px;
    font-size: 120px;
    font-weight: bolder;

}
.detailsHead{
  font-weight: bold;
  font-size: 80px;

}
._user{

    margin-right: 980px;
    font-size: 60px;
    font-weight: bold;

}

.root {
    minWidth: 275,
  }
  .bullet {
    display: 'inline-block';
    margin: '0 2px';
    transform: 'scale(0.8)',
  }
  .title {
    fontSize: 14,
  }
  .pos {
    marginBottom: 12,
  }